// $primary: red;
@import "~bootstrap/scss/mixins";
// @include bsBanner("");

@import "variables";

// scss-docs-start import-stack
// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

.container {
  margin-top: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header__wrapper {
  display: flex;
  background-color: #f996b7;
  padding: 5px 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;

  align-items: center;
  h1 {
    color: #fff;
  }

  .count,
  .timer {
    color: #eb5b8b;
    font-size: 25px;
    font-weight: 500;
  }
}

.btn {
  background-color: #86e3f2;
  border-radius: 10px;
  border: none;
  color: #fff;
  &:hover {
    background-color: #72c8d5;
  }
}

.wrapper {
  background-color: #f996b7;
  padding: 15px;
  border-radius: 10px;
}

.form__control {
  border-radius: 10px;
  border: none;
}

.results {
  span {
    background-color: #eb5b8b;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
  }
}
.results {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
}

.form-control {
  &.error {
    animation: tilt-shaking 0.5s forwards;
  }
}

@media (max-width: 450px) {
  .header__wrapper {
    .timer,
    .count {
      font-size: 17px;
    }
  }

  h1 {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 300px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 17px;
  }

  .header__wrapper {
    .timer,
    .count {
      font-size: 13px;
    }
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
